body {
  font-family: 'Arial', sans-serif;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

.container {
  text-align: center;
}

#alphabetCanvas {
  background-color: white;
  border: 1px solid #ccc;
  width: 500px;
  height: 500px;
}

.controls {
  margin-top: 20px;
}

.progress {
  margin-top: 10px;
}main {
 }